@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.14 0.03 100);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.14 0.03 100);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.14 0.03 100);
    --primary: #f2de9b;
    --primary-foreground: oklch(0.3 0.2 80);
    --secondary: oklch(0.95 0.02 100);
    --secondary-foreground: oklch(0.2 0.02 80);
    --muted: oklch(0.95 0.02 100);
    --muted-foreground: oklch(0.5 0.02 90);
    --accent: oklch(0.95 0.02 100);
    --accent-foreground: oklch(0.2 0.02 80);
    --destructive: oklch(0.7 0.3 30);
    --destructive-foreground: oklch(0.98 0.02 100);
    --border: oklch(0.9 0.01 100);
    --input: oklch(0.9 0.01 100);
    --ring: oklch(0.2 0.03 80);
    --radius: 0.75rem;
    --chart-1: oklch(0.75 0.2 40);
    --chart-2: oklch(0.6 0.3 180);
    --chart-3: oklch(0.5 0.3 200);
    --chart-4: oklch(0.8 0.2 90);
    --chart-5: oklch(0.75 0.3 70);
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);
    --font-primary: "NIS JTC Win M9 Condensed", sans-serif;
    --font-matisse-standard: "EVA Matisse Standard", sans-serif;
    --font-matisse-classic: "EVA Matisse Classic", serif;
    --font-nis-m9: "NIS JTC Win M9", sans-serif;
    --font-nis-m9-condensed: "NIS JTC Win M9 Condensed", sans-serif;
    --font-times-new-roman-condensed: "Times New Roman MT Condensed", sans-serif;
  }

  .dark {
    --background: oklch(0.14 0.03 100);
    --foreground: oklch(0.98 0.02 100);
    --card: oklch(0.14 0.03 100);
    --card-foreground: oklch(0.98 0.02 100);
    --popover: oklch(0.14 0.03 100);
    --popover-foreground: oklch(0.98 0.02 100);
    --primary: oklch(0.8 0.3 85);
    --primary-foreground: oklch(0.3 0.2 80);
    --secondary: oklch(0.3 0.1 250);
    --secondary-foreground: oklch(0.98 0.02 100);
    --muted: oklch(0.3 0.1 250);
    --muted-foreground: oklch(0.6 0.1 240);
    --accent: oklch(0.3 0.1 250);
    --accent-foreground: oklch(0.98 0.02 100);
    --destructive: oklch(0.5 0.3 30);
    --destructive-foreground: oklch(0.98 0.02 100);
    --border: oklch(0.3 0.1 250);
    --input: oklch(0.3 0.1 250);
    --ring: oklch(0.4 0.2 260);
    --chart-1: oklch(0.65 0.3 220);
    --chart-2: oklch(0.6 0.3 160);
    --chart-3: oklch(0.7 0.3 50);
    --chart-4: oklch(0.6 0.3 290);
    --chart-5: oklch(0.65 0.3 350);
    --sidebar: oklch(0.208 0.042 265.755);
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(0.279 0.041 260.031);
    --sidebar-ring: oklch(0.446 0.043 257.281);
  }
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  html {
    scrollbar-width: none;
  }

  /* Hide scrollbar for Internet Explorer */
  body {
    -ms-overflow-style: none;
  }
}

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

/* :root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.129 0.042 264.695);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.984 0.003 247.858);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.446 0.043 257.281);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "EVA Matisse Standard";
  src: url("/fonts/EVA-Matisse_Standard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EVA Matisse Classic";
  src: url("/fonts/EVA-Matisse_Classic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NIS JTC Win M9";
  src: url("/fonts/NIS-JTC-Win-M9.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NIS JTC Win M9 Condensed";
  src: url("/fonts/NIS-JTC-Win-M9-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman MT Condensed Regular";
  src: url("/fonts/TimesNewRomanMTCondensedRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-matisse-standard {
  font-family: var(--font-matisse-standard);
}

.font-matisse-classic {
  font-family: var(--font-matisse-classic);
}

.font-nis-m9 {
  font-family: var(--font-nis-m9);
}

.font-nis-m9-condensed {
  font-family: var(--font-nis-m9-condensed);
}

.font-times-new-roman-condensed {
  font-family: var(--font-times-new-roman-condensed);
}
