---
import BaseLayout from "../layouts/BaseLayout.astro";
import UnderConstruction from "@/components/common/underConstruction.astro";

const title = "About";
const Description ="";
---

<BaseLayout title={title} description={Description} >
   <section class="relative flex flex-col items-center justify-center min-h-[calc(100vh-12rem)] md:min-h-[calc(100vh-9.8rem)] px-6 py-8">
   <UnderConstruction/>
   
  </section>
</BaseLayout>


<script >
</script>