---

import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "@/components/ContactForm";

const title = "Contact";
const Description ="";
---

<BaseLayout title={title} description={Description} >
   <section class="relative flex flex-col items-center justify-center min-h-[calc(100vh-12rem)] md:min-h-[calc(100vh-9.8rem)]  px-6 py-8">
    <!-- <h1 class="text-4xl font-bold text-white">Contacts</h1>
    <p class="mt-4 text-gray-300">Ha el  Be Be Q d dsn </p> -->
    <div class="w-full flex justify-center ">
        <ContactForm client:load/>
      </div>
  </section>
</BaseLayout>


<script >
</script>