---
import Menu from "./Menu.astro";
import Svg from '@cxa/astro-inline-svg';
import Logo from "../../../public/logos/noBgVersion/Yellow-NoBg.svg?raw";
---

<!-- <header class="w-full  text-white fixed top-0 left-0 z-50 "> -->
  <header class="w-full text-white">
  <div class="container mx-auto flex justify-between items-center py-4 px-6">
    
    <!-- Left Side (Logo + Name) -->
    <div class="flex items-center space-x-2">
      <a href="/" class="flex items-center space-x-2">
        <Svg raw={Logo} class="website-logo size-8" stroke-width={1.5} />
        <span class="text-lg font-nis-m9-condensed tracking-wide">SUGAB PORTFOLIO</span>
      </a>
    </div>

    <!-- Right Side (Navigation Menu) -->
    <div class="flex items-center">
      <Menu />
    </div>

  </div>
</header>