---
import '../styles/global.css';
import SEO from "../components/SEO.astro";
import Navbar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";

interface Props {
  title: string;
  description?: string;
  canonical?: string;
  ogImage?: string;
}

const { title, description, canonical, ogImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEO title={title} description={description} canonical={canonical} ogImage={ogImage} />
  <body class="flex flex-col min-h-screen bg-gray-900 text-white font-sans">
    <Navbar />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>